ac
	margin: 0px;
	padding: 0px;
}
body {
  font-family: wf_segoe-ui_normal!important;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
} 
section {
  padding-top: 10px;
  padding-bottom: 10px;
} 
a, a:hover {
  text-decoration: none;
  color: inherit;
}
b, .active {
      font-family: wf_segoe-ui_bold; 
}
.col-centered{
    float: none;
    margin: 0 auto;

}
/*HEADER*/
.header {
  min-height:380px;
  height: auto;
  background-color: #01194B;
  display: block;
  position: relative;
  background-image: url(../images/back_1.png), url(../images/back_2.png);
  background-repeat: no-repeat;
  background-position: top left, top right;
}
.header img {
  margin-top: 20px;
}
.barra_inicial_fija{
    position: fixed;
    top:0px;
    background-color: #fff;
    z-index: 11111;
    width: 100%;
    transition: 1.2s;
    transition-property: right;
    margin-top: 0px!important;
    margin-bottom: 0px!important;

}
/*HEADER*/
/*SOCIALBAR*/
.social_desple{
    position: fixed;
    width: 45px;
    right: 0;
    top: 75px; 
    z-index: 1001;
    font-size: 20px;
    display:none;
    background-color: #fff;
    text-align: center;
}
.glyphicon{
  z-index: 1001;
}
.rotate {
    transform: rotate(-180deg);
    /*transform: rotate(180deg);*/
    transition: .3s;
}
.rotate2 {
    transform: rotate(-90deg);
    transition: .3s;
}.rotate2 {
    transform: rotate(-90deg);
    transition: .3s;
}
.socialbar {
    background-color: #fff;
    height: auto;
    position: fixed;
    width: 45px;
    right: 0;
    top: 100px;
    z-index: 1001;
}
.socialbar img {
    margin: 10px 0px 0px 5px;
}
#share_general{
  cursor: pointer;
}

.vertical-text {
    width: 90px;
    margin: 10px 0px 0px -85px;
    transform-origin: right top 0;
    transform: rotate(270deg);
    margin-bottom: 90px;
      font-family: wf_segoe-ui_normal!important;
}
.vertical-text2 {
    width: 90px;
    margin: -20px 0px 0px -85px;
    transform-origin: right top 0;
    transform: rotate(270deg);
    margin-bottom: 90px;
      font-family: wf_segoe-ui_normal!important;
}


/*SOCIALBAR*/
/*FAQS*/
.faqs h1{
  font-size: 30px;
  color: #FFBE00;
    font-family: wf_segoe-ui_semibold;
     text-shadow: 2px 2px 10px #000;
     z-index:20;

}
.faqs h3{
     text-shadow: 2px 2px 10px #000;
     z-index:20;

 color: #FFBE00;
}
.faqs .hashtags{
}
.header p {
text-align: right;
  color: #fff; 

}
.shadow {
  background-color: rgba(0,118,218,0.4);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
    z-index: 11;
}
.header_container {
    position: absolute;
    bottom: -10px;
    left: 0px;
    right: 0px;
        background-image: url(../images/back_header.png);
    background-position: center;
    background-repeat: no-repeat;
}
.ms_s {
  text-align: right;
  margin-top: 96px;
  margin-right: 50px;
font-family: wf_segoe-ui_semilight; 
font-style: italic;
font-size: 18px;
}
/*FAQS*/

.social{
  display: none;
    position: absolute;
    bottom: 20px;
    left: 40%;
    width: 85px;

}
/*PLATAFORMA INTEGRAL*/
  /*MEDIA MAX 768*/
@media screen and (max-width: 768px) {
  /*1*/
  .header {
    display: none;
  }
  .faqs .header{
    display: block;
  }
  /*1*/
  /*2*/
  /*7*/
  /*FAQS*/
  .panel-group, .panel-group .col-xs-12 {
    padding: 0px!important;
  }
  /*FAQS*/
}
@media screen and (max-width: 480px) {
/*3*/
  h1{
    padding-left: 0px;
    padding-right: 0px;
  }

  .links-margin{
    margin-top: 70px!important;
    margin-left: 0px!important;
    text-align: right;
}
 .foo-mobile a, .foo-mobile p{
        position: relative;
    display: inherit;

}
.content-video-home{
  margin-bottom:100px;
}
}

/*3*/
/*MEDIA MAX 768*/
/*FOOTER*/
footer {
  background-color: rgb(243, 243, 243);
  padding: 0px 0px 0px 0px;
  font-size: 12px;
  margin-right: auto;
  margin-left: auto;
  min-height: 70px;
  height: auto;
}
.pull-right-1{
  float: right!important;
  padding-top: 18px;
  text-align: right;
}
.copy_right {
  padding-right: 3px!important;
}
.foo-mobile a, .foo-mobile p{
  padding-right: 15px;
}
.links-margin{
  margin-top: 35px;
  margin-left: 50px;
}
.ms {
  float: right;
  background-color: rgb(243, 243, 243);
  margin: 20px 50px 0 0;
  font-size: 12px;
}
.ms img {
  float: right;
} 
/*FIN FOOTER*/

.flechaLink{
  margin-left: 13px;
}

#myModal2{
  margin-top: 40px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 14px;
}

.listadoForm ul{
  text-decoration:none;
}
/*FAQS*/
.faqs  .glyphicon-search{
  color: #d2d2d2;
}
.buscador{
  background-color: #01194B;
  padding: 10px;
  color: #FFF;
  margin-right:30px;
  margin-bottom: 16px;

}
input#bus  {
    width: 79%;
    margin-left: 30px;
    border-width: 1px;
    height: 34px;
    padding-left: 10px;
    box-shadow: none;
    margin: 1px -30px 15px 30px;
    border-color: #01194B;
    background-color: #f2f2f2;
}
.panel_faqs .glyphicon{
  position: absolute;
  top: 25px;
  right: 30px;
}
.panel_faqs{
  background-color: #ebebeb!important;
  border: none;
  border-radius: 0px!important;
  margin: 15px 0px;
}
.panel-default > .panel-heading {
  background-color: #ffb901;
  border: none;
  border-radius:0px!important;
  cursor: pointer;
  height: auto;
}
.panel-title{
  padding-right: 15px;
}
.panel-title a{
 font-family: wf_segoe-ui_semibold;
 font-size: 14px;
}
.panel_faqs .panel-body a:hover{
 font-family: wf_segoe-ui_semibold;
}
.panel_faqs a:hover, .panel_faqs a:focus {
    color: inherit;
     text-decoration: none; 
}
.selected_number {
  text-decoration: none!important;
  font-family: wf_segoe-ui_bold;
}
.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    border: 0px solid #FFB901;
    border-radius: 0px;
    margin: 0px 5px!important;
    cursor: pointer;
}


/*FAQS*/